@font-face {
  font-family: "iconfont"; /* Project id 2745215 */
  src: url('iconfont.woff2?t=1637945644086') format('woff2'),
       url('iconfont.woff?t=1637945644086') format('woff'),
       url('iconfont.ttf?t=1637945644086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontupian_o:before {
  content: "\eb4f";
}

.iconicon-test:before {
  content: "\e63c";
}

.iconicon-test1:before {
  content: "\e658";
}

.iconicon-test2:before {
  content: "\e65c";
}

